target/test-classes/htmlparser.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:https="http://www.mulesoft.org/schema/mule/https" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/https http://www.mulesoft.org/schema/mule/https/current/mule-https.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">
    <flow name="httpParserFlow1" doc:name="httpParserFlow1">
        <file:inbound-endpoint path="/Users/pat/Documents/customers/schenker/files" responseTimeout="10000" mimeType="text/xml" doc:name="Stammdaten XML aus Verzeichnis abholen"/>
        <file:file-to-string-transformer doc:name="File to String"/>
        <mulexml:xml-to-dom-transformer doc:name="XML to DOM" returnClass="org.dom4j.Document"/>
        <enricher source="#[payload]" target="#[payload.rootElement.element('price').text]" doc:name="Message Enricher">
            <flow-ref name="parseFlow2" doc:name="Flow Reference"/>
        </enricher>
        <file:outbound-endpoint path="/Users/pat/Documents/customers/schenker/files/" outputPattern="output.txt" responseTimeout="10000" doc:name="File"/>
    </flow>
    <sub-flow name="parseFlow2" doc:name="parseFlow2">
        <http:outbound-endpoint exchange-pattern="request-response" host="www.google.com" port="80" path="finance/converter?a=#[xpath('/masterdata/product/price').text]&amp;from=#[xpath('/masterdata/product/currency').text]&amp;to=EUR&amp;meta=ei%3DPNVzU7DsKoj6wAPkrIGYDQ" method="GET" doc:name="Aufrufen des Google Currency Converters"/>
        <file:file-to-string-transformer doc:name="File to String"/>
        <custom-transformer class="htmlparse.HtmlParser" doc:name="Java"/>
    </sub-flow>
</mule>